'context-menu':
  'atom-workspace': [
    { 'label': 'Open StarryNight', 'command': 'starrynight-helper:toggle'}
    { 'label': 'StarryNight Help', 'command': 'starrynight-helper:help'}
    { 'label': 'StarryNight Nightwatch', 'command': 'starrynight-helper:nightwatch'}
    { 'label': 'Configure Nightwatch', 'command': 'starrynight-helper:autoconfig'}
    { 'label': 'Display Env Variables', 'command': 'starrynight-helper:environment'}
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'StarryNight'
      'submenu': [
        { 'label': 'Toggle', 'command': 'starrynight-helper:toggle' }
        { 'label': 'Reset', 'command': 'starrynight-helper:reset' }
        { 'label': 'Show/hide', 'command': 'starrynight-helper:showHide' }
        { 'label': 'Help', 'command': 'starrynight-helper:help' }
        { 'label': 'Nightwatch', 'command': 'starrynight-helper:nightwatch' }
        { 'label': 'Autoconfig', 'command': 'starrynight-helper:autoconfig' }
        { 'label': 'Environment', 'command': 'starrynight-helper:environment' }
      ]
    ]
  }
]
